@using DeckardMvcDemoApp.ViewModels;
@model BuildingViewModel

<h1>Update Building</h1>

<div>
    <form asp-controller="HumanResources" asp-action="UpdateBuilding" class="row g-3">
        <input asp-for="@Model.Id" type="text" value="@Model.Id" hidden="hidden" />
        <div class="col-md-6">
            <label for="LastName" class="form-label">Last Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control" value="@Model.Name">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
    <div class="mt-3">
        <a asp-controller="HumanResources" asp-action="Building" asp-route-id="@Model.Id"> Back to Building List </a>
    </div>
</div>
