@using DeckardMvcDemoApp.ViewModels;
@model EmployeeViewModel

<h1>Employees</h1>

<div class="row border border-1 border-dark p-2">
	<div class="col-6">
        <ul class="list-group">
            @if (Model.Employees.Count == 0)
            {
                <li class="list-group-item">Where are all of your employees??!!!!</li>
            }
            else
            {
                @foreach (var employee in Model.Employees)
                {
                    <li href="*" class="list-group-item" id="@employee.Id">
                        <div class="row">
                            <div class="col-10">
                                @employee.LastName, @employee.FirstName
                            </div>
                            <div class="col-2">
                                <a asp-controller="HumanResources" asp-action="EmployeeEdit" asp-route-id="@employee.Id">Edit</a>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
	</div>
	<div class="col-6 border border-2 p-2">
        <form asp-controller="HumanResources" asp-action="EmployeeCreate" class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Last Name</label>
                <input asp-for="@Model.LastName" type="text" class="form-control" id="lastName">
            </div>
            <div class="col-md-6">
                <label class="form-label">First Name</label>
                <input asp-for="@Model.FirstName" type="text" class="form-control" id="firstName">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" id="btnCreateEmployee">Quick Create</button>
            </div>
        </form>
	</div>
</div>
